<%= stylesheet_link_tag 'templates/index' %>

<header class="blogs--header">
  <div class="blogs--title">
    Darien Jonathan's<span>#thelazyblog</span><br><br>
    <div class="blogs--slogan">-Jack of the trades who likes to share his treads-</div>
  </div>
  <div class="blogs--sns-link">
    <a href="https://github.com/darienjonathan/thelazyblog">
      <img src=<%= asset_path "sns/github.png" %>>darienjonathan/thelazyblog
    </a>
    <a href="https://instagram.com/darienjonathan">
      <img src=<%= asset_path "sns/ig.png" %>>@darienjonathan
    </a>
    <a href="https://soundcloud.com/darien-jonathan">
      <img src=<%= asset_path "sns/soundcloud.png" %>>Darien Jonathan
    </a>
  </div>
  <div class="blogs--scroll-bottom">
    &#8964;
  </div>
</header>
<content id="content">
<%= raw @blogs.index_grid_box %>
</content>
