<%= stylesheet_link_tag 'templates/blog' %>
<%= stylesheet_link_tag 'lib/hero' %>

<% title_header =  @blog.header_images.where(title: true).first %>
<% header_bg_pos = {
  pc: title_header.try(:bg_pos_pc) || "center center",
  sp: title_header.try(:bg_pos_sp) || "center center" 
} %>

<div class="post">
  <%= render "partials/blog_header", blog: @blog, header_image: title_header %>
  <% content = add_content @blog %>
  <%= raw content %>
  <%= render "partials/blog_footer" %>
</div>

<script>
  $(document).ready(function(){
    $(document).foundation();
    

<<<<<<< HEAD
    (function(){
      $('.hero').css({ "height":window.innerHeight, "margin":"0 -20px 0 -20px" });
      
      if(<%= title_header.nil? %>)
        { $('.hero:first-child').css({ "height":"auto", "margin":"0 0 50px -20px" }); }

      if(window.matchMedia('(max-width: 600px)').matches)
        { $(".hero:first-child").css("background-position","<%= header_bg_pos[:sp] %>"); }
      else
        { $(".hero:first-child").css("background-position","<%= header_bg_pos[:pc] %>"); }
    })();
=======
    if(window.matchMedia('(max-width: 600px)').matches)
      { $(".hero:first-child").css("background-position","<%= header_bg_pos[:sp] %>"); }
    else
      { $(".hero:first-child").css("background-position","<%= header_bg_pos[:pc] %>"); }
>>>>>>> becef8afd6091320fb8a62bffb8ba8d3e1e5c339

    (function(){
      let en = document.querySelectorAll('.en'),
      id = document.querySelectorAll('.id'),
      jp = document.querySelectorAll('.jp');
      
      if(en.length > 0){
        document.getElementById('lang_en').addEventListener('click', function(){
          $(this).addClass('active');
          $('#lang_id').removeClass('active');
          $('#lang_jp').removeClass('active');
          for(let i = 0; i < en.length; i++){
            en[i].style.display = "block";
            if(id.length > 0){id[i].style.display = "none";}
            if(jp.length > 0){jp[i].style.display = "none";}
          }
        })
      }

      if(id.length > 0){
        document.getElementById('lang_id').addEventListener('click', function(){
          $(this).addClass('active');
          $('#lang_en').removeClass('active');
          $('#lang_jp').removeClass('active');
          for(let i = 0; i < en.length; i++){
            id[i].style.display = "block";
            if(en.length > 0){en[i].style.display = "none";}
            if(jp.length > 0){jp[i].style.display = "none";}
          }
        })
      }

      if(jp.length > 0){
        document.getElementById('lang_jp').addEventListener('click', function(){
          $(this).addClass('active');
          $('#lang_en').removeClass('active');
          $('#lang_id').removeClass('active');
          for(let i = 0; i < en.length; i++){
            jp[i].style.display = "block";
            if(en.length > 0){en[i].style.display = "none";}
            if(id.length > 0){id[i].style.display = "none";}
          }
        })
      }    
    })();
  })
</script>