<%= stylesheet_link_tag 'templates/blog' %>
<%= stylesheet_link_tag 'partials/hero' %>
<%= stylesheet_link_tag 'partials/comments' %>

<% title_header =  @blog.header_images.where(title: true).first %>
<% header_bg_pos = {
  pc: title_header.try(:bg_pos_pc) || "center center",
  sp: title_header.try(:bg_pos_sp) || "center center" 
} %>

<div id="post">
  <%= render "partials/blogs/header", blog: @blog, header_image: title_header %>
  <%= raw @blog.add_content %>
  <%= render "partials/blogs/footer" %>
</div>

<%= render "partials/comments/list_form", blog: @blog %>

<script>
  (function(){
    $('.hero').css({ "height":window.innerHeight, "margin":"0 -20px 0 -20px" });
    
    if(<%= title_header.nil? %>)
      { $('.hero:first-child').css({ "height":"auto", "margin":"0 0 50px -20px" }); }

    if(window.matchMedia('(max-width: 600px)').matches)
      { $(".hero:first-child").css("background-position","<%= header_bg_pos[:sp] %>"); }
    else
      { $(".hero:first-child").css("background-position","<%= header_bg_pos[:pc] %>"); }
  })();
</script>