<% unless header_image.nil? %>
  <header class="hero" style="background-image: url(<%= asset_path header_image.url %>)">
    <% if header_image.title %>
    <div class="blog-name-tag">
      darienjonathan's<span class="blog-tag">#thelazyblog<span>
      <%= blog.render_lang_table %>
    </div>
    <% end %>
    <%= render "partials/blogs/hero", caption: !header_image.caption.empty? ? header_image.caption : blog.title %>
  </header>
<% else %>
  <header class="hero">
    <div class="blog-name-tag">
      darienjonathan's<span class="blog-tag">#thelazyblog<span>
      <%= blog.render_lang_table %>
    </div>
    <div class="heroless-title"><%= blog.title %></h1>
  </header>
<% end %>