<div class="row">
  <% for i in 0..blogs.length-1 do %>
  <div class="<%= blogs[i].column_class_name %>">
    <div class="section-background" style="<%= blogs[i].get_background %>"></div>
    <div class="section-title">
      <%= blogs[i].title %>
    </div>
    <div class="section-brief">
      <span style="float:right"><%= blogs[i].creation_date %></span><br><br>
      <%= raw blogs[i].summary %>
    </div>
    <%= blogs[i].link %>
  </div>
  <% end %>
</div>