<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script data-ad-client="ca-pub-4180138038533009" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    <% if content_for?(:head) %> <%# demi kemananan pake if %>
      <%= yield(:head) %>
    <% end %>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= favicon_link_tag source="favicon.png" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
